* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navbar-items {
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.fa-sharp{
 cursor: pointer;
}
.navbar-items li:hover {
  transition: 0.25s;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.navbar-icons {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  list-style: none;
  padding-right: 4rem;
  gap: 1rem;
}

.nuevacoleccion-title {
  font-size: 32px;
  padding: 5rem;

}

.grid-clothes {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
  margin: auto;
  width: 1280px;
}

.grid-clothes img {
  border-radius: 1rem;
  
}
.item:hover {
  transition: 0.25s;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.img-foot {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.precio {
  font-weight: bolder;
}
footer {
  padding: 2rem;
  margin-top: 3.5rem;
  background-color: #212429;
  font-size: 16px;
 
}

footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  list-style: none;
  color: white;
  gap: 3rem;
}


footer i{
color: #212429;
background: white;
padding-top: 1.25rem;
text-align: center;
vertical-align: middle;
height: 20px;
width: 50px;
margin-right:0.70em;
border-radius: 50%;
}


@media (max-width: 800px) {
  .grid-clothes {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    gap: 3rem;

  }

  .nuevacoleccion-title{
    padding: 1em;
  }
  .img-foot {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 4rem;
  }
  .navbar {
    flex-direction: column;
    position: sticky;
  }
  .navbar li{
    gap: 0;
    margin:0%
  }
  .navbar-items{
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    gap: 0rem;
  }
  .navbar-icons{
    justify-content: center;
    align-items: center;
    padding-right: 0%;
  }
  .fa-sharp{
    padding-right: 95%;
    padding-top: 0.5rem;
   }

   footer ul{
      flex-direction: column;
      align-items: flex-start;
      
   }
   footer ul li{
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
   }

}

@media (max-width: 920px) {
  .navbar-items{
    gap: 1rem;
    align-items: center;
  }
  .navbar-icons{
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }
}
